.player-card {
  position: relative;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
  color: white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.5);
}

.player-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.number {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 40px;
}

.name {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.sub {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.9;
}

.flag {
  width: 24px;
  height: 16px;
  margin-top: 4px;
  border-radius: 2px;
}
