.player-card {
  height: 300px;
  overflow: hidden;
  background: #ffffff;
  color: white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.5);
  cursor: pointer;
}

.player-img {
  width: 50%;
  height: 80%;
  object-fit: cover;
   object-position: top; 
}

.info {
  color: black;
}



.name {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}

.sub {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.9;
}

.flag {
  width: 24px;
  height: 16px;
  margin-top: 4px;
  border-radius: 2px;
}
