.card {
  background: #fff;
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
    position: inherit;
  &:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #0d6efd;
  margin-bottom: 0.25rem;
}

.subtitle {
  font-size: 0.9rem;
  color: #6c757d;
}

.description {
  font-size: 0.9rem;
  color: #495057;
  margin-top: 0.3rem;
}
.more {
  cursor: pointer;
  display: flex;
  position: relative; /* quan trọng: để menu con (absolute) căn theo nút này */
  justify-content: flex-end;
}
