.content-wrapper{
}

.thumbnail {
  width: 100vw;
  height: 90vh;
  display: block;
  object-fit: cover;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background: black;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
}

.marquee span {
  display: inline-block;
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%); /* bắt đầu ngoài màn hình bên phải */
  }
  to {
    transform: translateX(-100%); /* chạy qua hết bên trái */
  }
}
