:root{
    //--primary-color: #192275;
    --primary-color: #6b3333;
    --secondary-color: #b94d00;
    --button-primary-color: #6b3333 ;
    --button-secondary-color: #b94d00;
    --home-background-color-souvenir: #4f2727;
    --header-color: #8B2C31;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --background-color: #f5f5f5;
    --text-color: #333;
    --header-height: 60px;
    --sidebar-width: 240px;
    --sidebar-color: #1F2937;
    --home-background-color: rgb(246, 243, 243);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}

.global-wrapper{
    & button{
}
}

body{
    overflow-x: hidden;
}

