.home-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: var(--header-height);
  
}
.home-body > div{
  margin: 80px 0;
}
.thumbnail {
  position: relative;

  width: 100vw;
  height: 90vh;
  display: block;
  object-fit: cover;
}
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  background: white;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
}

.marquee span {
  display: inline-block;
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%); /* bắt đầu ngoài màn hình bên phải */
  }
  to {
    transform: translateX(-100%); /* chạy qua hết bên trái */
  }
}

.next-match{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
   
    background-color: rgba(118, 118, 118,0.5);
    padding: 30px 35px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.slogan{
    position: absolute;
    top: 50%;
    color: white;
    font-size: 40px;
    padding: 0 20px 0;
    transform: translate(0, -50%);
    font-weight: 900;
}

.recent-matches{
  margin: 40px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    justify-content: center;
}

.recent-news{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px 0;
}

.scroll-text-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  font-size: 1rem;
  color: #6c757d; /* text-muted bootstrap */
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

